TestAsyncDeadLock/bin/*.*
TestAsyncDeadLock/obj/*
TutorialConcurrency/bin/*
TutorialConcurrency/bin/Debug/net8.0/
TutorialConcurrency/obj/*
TutorialConcurrency/bin/Debug/net8.0/TutorialConcurrency
TutorialConcurrency/bin/Debug/net8.0/TutorialConcurrency.dll
